<footer>
  <div class="social-links">
    <ul>
      <li>
        <a
          href="https://www.instagram.com/refrigerista.manaus"
          target="black"
          rel="noopener"
        >
          <span class="fa fa-instagram"></span
        ></a>
      </li>
      <li>
        <a
          href="https://api.whatsapp.com/send?phone=559284549908&text=Olá%20Vim%20atrav%C3%A9s%20da%20pagina%20%20Web%2C%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es"
          target="black"
          rel="noopener"
        >
          <span class="fa fa-whatsapp"></span
        ></a>
      </li>
    </ul>
  </div>
  <div id="footer-informations">
    <div class="logo">
      <img
        src="./../../../assets/img/LogoJr.svg"
        width="150px"
        alt="Logotipo DLR"
      />
    </div>
  </div>
</footer>
